@import 'mixins';

notosans-fontface-modern('Thin', 100, normal);
notosans-fontface-modern('ThinItalic', 100, italic);

notosans-fontface-modern('ExtraLight', 200, normal);
notosans-fontface-modern('ExtraLightItalic', 200, italic);

notosans-fontface-modern('Light', 300, normal);
notosans-fontface-modern('LightItalic', 300, italic);

notosans-fontface-modern('Regular', 400, normal);
notosans-fontface-modern('Italic', 400, italic);

notosans-fontface-modern('Medium', 500, normal);
notosans-fontface-modern('MediumItalic', 500, italic);

notosans-fontface-modern('SemiBold', 600, normal);
notosans-fontface-modern('SemiBoldItalic', 600, italic);

notosans-fontface-modern('Bold', 700, normal);
notosans-fontface-modern('BoldItalic', 700, italic);

notosans-fontface-modern('ExtraBold', 800, normal);
notosans-fontface-modern('ExtraBoldItalic', 800, italic);

notosans-fontface-modern('Black', 900, normal);
notosans-fontface-modern('BlackItalic', 900, italic);
